body {
    background-color: black;
    font-family: "Roboto","sans-serif";
}

.back {
    height: 50px;
    color: red;
    margin-left: 5%;
    padding: 8px;
    border: 2px solid transparent;
}

.back:hover {
    border-radius: 8px;
    padding: 8px;
    border: 2px solid red;
    transition: all 400ms ease;
}

.container {
    max-width: 180px;
    margin: 0;
    margin-top: 30px;
}
  
.youtube-link .icon {
    width: 45px;
    color: red;
    display: flex;
    flex-shrink: 0;
}

.youtube-link {
    font-size: 20px;
    color: red;
    line-height: 2;
    display: flex;
    gap: 10px;
    margin-left: 10%;
    padding: 4px 15px;
    cursor: pointer;
    transition: all 400ms ease;
    border: 2px solid red;
    border-radius: 8px;
}

.youtube-link:hover {
    transition: all 400ms ease;
    background: red;
    color: white;
    .icon{
        color: white;
    }
    
    
}

.youtube-player-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
}

.youtube-player-overlay.active { 
    opacity: 1;
    pointer-events: auto;
}

.youtube-player-popup {
    position: fixed;
    top: 5%;
    width: 80%;
    left: 50%;
    transform: translate(-50%,-100%);
    transition: all 400ms ease;
}

.youtube-player-overlay.active .youtube-player-popup{ 
    transform: translate(-50%,0);
}

.youtube-player-popup iframe {
    width: 100%;
    aspect-ratio: 16/9;
}