

@font-face {
    font-family: "Neue Montreal";
    src: url(./eroforrasok/betutipusok/PPNeueMontreal-Medium.otf) format("truetype");
  }
  
  * {
            margin: 0;
        padding: 0;
  box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
        display: none;
      }
  
  body {
  font-family: "Neue Montreal";
  background: rgb(255, 255, 255);
  }
  
  .kutya {
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .kutya img {
  margin-top: 25px;
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 1000ms;
  }
  
  .container img {
  margin-top: 25px;
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 1000ms;
  }
  
  ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 100%;
  width: 100rem;
  }
  
  figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  }
  
  nav {
  letter-spacing:0.7px;
        background-color: white;
        position: fixed;
        /*font-weight: 400;*/
        width: 100%;
    height: 40px;
    padding: 0.7rem;
        color: #000000;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        cursor: pointer;
        text-transform: uppercase;
    }
  
  .footer {
    bottom: 0;
  letter-spacing:0.7px;
        background-color: white;
        position: fixed;
        /*font-weight: 400;*/
        width: 100%;
    height: 40px;
    padding: 0.7rem;
        color: #000000;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        cursor: pointer;
    }
  
  a {
    text-decoration-line: none;
  }
  
  a:link {
  color: rgb(0, 0, 0);
  }
  
  a:visited {
  color: rgb(0, 0, 0);
  }
  
  a:hover {
  color: rgb(0, 0, 0);
  /*border-bottom: 1px solid black;*/
  }
  
  a:active {
  color: rgb(0, 0, 0);
  }
  
  figcaption {
    margin-top: 15px;
    font-size: 13px;
    /*height: 37px;*/
  }
  
  .container {
    position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); 
  z-index: 2; 
  cursor: pointer; 
  }
  
  #vasarlas {
    position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); 
  z-index: 2; 
  cursor: pointer; 
  }
  
  #vasarlas2 {
    position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); 
  z-index: 2; 
  cursor: pointer; 
  }
  .closebtn {
  letter-spacing:0.7px;
    background-color: white;
    /*font-weight: 400;*/
  padding: 0.7rem;
    height: 40px;
    color: #000000;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  a {
    text-decoration-line: none;
  }
  
  a:link {
  color: rgb(0, 0, 0);
  }
  
  a:visited {
  color: rgb(0, 0, 0);
  }
  
  a:hover {
  color: rgb(0, 0, 0);
  /*border-bottom: 1px solid black;*/
  }
  
  a:active {
  color: rgb(0, 0, 0);
  }
  
  
  
  #expandedImg{
    position: absolute;
    width: 900px;
  height: 700px;
  left: 200px;
  top: 90px;
  }
  
  
  
  #imgtext {
  line-height: 150%;
  position: absolute;
  top: 111px;
  right: 360px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  }
  
  #image {
            display: none;
        }
  
  
  
  
  
  
  /*
    html {
    font-family: "Neue Montreal";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  }
  */
  
  button {
  overflow: visible;
  }
  
  button, select {
  text-transform: none;
  }
  
  button, input, select, textarea {
  color: #000;
  font: inherit;
  margin: 0;
  }
  
  
  #vasarlasForm {
  position: relative;
  /*padding: 0.4rem;
  max-width: 940px;*/
  top: 200px;
  font-size: 12px;
  max-width: 600px;
  margin: auto;
  }
  
  
  ::-webkit-scrollbar {
        display: none;
      }
  
  
  
  /*
  .icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
  }
  
  .icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
  }*/
  
  .email {
  float: right;
  width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 1px #000000;
  color: #000000;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.795em 0;
  /*text-transform: uppercase;*/
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
  }
  
  .message {
  float: none;
  }
  
  .name {
  float: left;
  width: 45%;
  }
  
  select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-20.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  }
  
  select::-ms-expand {
  display: none;
  }
  
  .subject {
  width: 100%;
  }
  
  .telephone {
  width: 100%;
  }
  
  textarea {
  line-height: 150%;
  height: 90px;
  resize: none;
  width: 100%;
  }
  
  ::-webkit-input-placeholder {
  color: #000000;
  }
  
  :-moz-placeholder { 
  color: #000000;
  opacity: 1;
  }
  
  ::-moz-placeholder {
  color: #000000;
  opacity: 1;
  }
  
  :-ms-input-placeholder {
  color: #000000;
  }
  
  #form_button {
  margin-top: 8px;
  background: none;
  border: solid 1px #000000;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 10px 25px;
  /* text-transform: uppercase;*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  }
  
  #form_button:hover {
  background: #000000;
  color: #ffffff;
  }
  
  
  
  #form_button2 {
  background: none;
  border: solid 1px #000000;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 10px 25px;
  /* text-transform: uppercase;*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  }
  
  #form_button2:hover {
  background: #000000;
  color: #ffffff;
  }
  
  
  #form_button3 {
  background: none;
  border: solid 1px #000000;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 10px 25px;
  /* text-transform: uppercase;*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  }
  
  #form_button3:hover {
  background: #000000;
  color: #ffffff;
  }
  